.sessionList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.session {
  margin: 5px 10px;
  padding: 10px !important;
  flex-basis: 30%;
  min-width: 250px;
}

.date {
  color: #8a9ba8;
}

.cardHeader {
  display: flex;
  margin-bottom: 5px;
}

.cardAvatar {
  margin-right: 15px;
}

.tag {
  margin-left: 5px;
}

.center {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  text-align: center;
}

.center img {
  object-fit: contain;
  margin-bottom: 10px;
}

.shake {
  animation: shake-lr 20000ms linear infinite alternate both;
}

@keyframes shake-lr {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  10% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  80% {
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg);
  }
  90% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
}
